section
  height: 100px
  &.border-top
    border-bottom: 1px solid grey
    border-top: none
  &.border-bottom
    border-top: 1px solid grey
    border-bottom: none

h1
  margin-left: 10px
  padding-top: calc(50px - 54.2px/2)

