#content
  width: calc(100% - 6vw)
  height: 100%
  padding: 0 3vw

.btn-actions
  margin-top: 20px
  border-top: 2px solid grey
  padding-top: 20px

#list
  border: 2px solid grey
  border-bottom: none
  padding-inline-start: 0
  li
    list-style-type: none
    border-bottom: 2px solid grey
    padding: 15px
    display: flex
    justify-content: space-between


button
  background-color: transparent
  border-image: none
  border-radius: 5px
  border-style: solid


input
  background: transparent
  border-style: solid
  border-radius: 2px
