<app-header [name]="'Header'" [class]="'border-top'"></app-header>

<div id="content">
  <div class="add-user-section">
    <p>Add New User</p>
    <input id="addUser" type="text" [(ngModel)]="user" />
    <button id="addUserBtn" type="button" (click)="addNewUser()" [disabled]="!user">Add</button>
  </div>

  <div class="btn-actions">
    <ng-container *ngIf="showEditAll && list.length">
      <button type="button" (click)="actionAll(false, true)">Edit All</button>
      <button type="button" (click)="deleteAll()">Delete All</button>
    </ng-container>
    <button *ngIf="!showEditAll && list.length" type="button" (click)="actionAll(true, false)">Save All</button>
  </div>

  <nav>
    <ul id="list" *ngIf="list.length">
      <li *ngFor="let user of list; index as i" [attr.data-index]="i">
        <span *ngIf="!user.isSelected">{{ user.name }}</span>
        <input *ngIf="user.isSelected" type="text" [(ngModel)]="user.name" />

        <div *ngIf="!user.isSelected; else showSaveBtn">
          <button type="button" (click)="edit(i)">Edit</button>
          <button type="button" (click)="remove(i)">Delete</button>
        </div>

        <ng-template #showSaveBtn>
          <button type="button" (click)="save(i)" [disabled]="!user.name">Save</button>
        </ng-template>
      </li>
    </ul>
  </nav>
</div>

<app-header [name]="'Footer'" [class]="'border-bottom'"></app-header>
